.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 1rem 0 1rem;

  &--icon {
    width: 30%;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    h1 {
      margin: 0;
      padding: 0 0.1rem 0 0;
      font-size: 2rem;
    }
  }

  &--panel {
    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 1rem;
    background-color: var(--nimo-navbar-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &--button {
    flex-grow: 1;
    height: 100%;
    margin: 0;
    color: inherit;
    background-color: var(--nimo-navbar-bg);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;

    transition: color .3s, background-color .3s;

    &:hover {
      background-color: var(--nimo-navbar-hover);
    }

    &:active {
      color: var(--blue-400);
      background-color: var(--nimo-navbar-active);
    }
  }
}
