.person {
  &--item {
    margin: 0.2rem 0;
    border-left: 3px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &:hover {
      background-color: var(--slate-100);
      cursor: pointer;
    }
  }

  &--selected {
    border-left: 3px solid var(--blue-400);
    background-color: var(--slate-200);
    color: var(--blue-500);

    &:hover {
      background-color: var(--slate-200);
    }
  }

  &--item-name {
    text-align: center;
    flex: 1;
    &:hover {
      text-decoration: underline;
    }
  }

  &--duplicate-toggle {
    width: 4rem;
    padding: 0rem 1rem;
    text-align: center;
    cursor: pointer;
    color: black;
    &:hover {
      background-color: var(--slate-300);
    }
    &:active {
      background-color: var(--slate-400);
    }
  }

  &--duplicate-enabled {
    color: var(--emerald-500);
  }
}
