.timetable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  &--assignable {
    background: var(--blue-100);

    &:hover {
      background: var(--blue-200);
      cursor: pointer;

      .timetable--row-entry-container:hover {
        background: var(--blue-200);
      }
    }
  }

  &--row {
    // table row
    width: 100%;
    border-top: 1px solid var(--slate-300);
    border-bottom: 1px solid var(--slate-300);
  }

  &--row-darker {
    // table row
    background: var(--slate-100);
  }

  &--header {
    // column header
    font-weight: bold;
    padding: 0.5rem;
  }

  &--row-cell {
    // table cell
    padding: 0.5rem 0rem;
    height: 84px;
  }

  &--first-col {
    // first column of table
    width: 4rem;
    text-align: center;
  }

  &--row-entry-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 0.2rem 0;
    text-align: center;
    border-left: 3px solid transparent;
    display: flex;

    &:hover {
      background-color: var(--blue-100);
      border-left: 3px solid var(--blue-500);
      color: var(--blue-500);
      cursor: pointer;
    }
  }

  &--row-entry-selected {
    color: var(--blue-500);
    border-left: 3px solid var(--blue-500);
  }

  &--row-entry-duplicate {
    color: var(--emerald-500);
  }

  &--row-entry {
    // entry in table cell
    width: 100%;
  }

  &--row-entry:hover + &--row-entry-rm {
    visibility: visible;
  }

  &--row-entry-rm {
    position: absolute;
    width: 15%;
    top: 0;
    right: 0;
    padding: 0.2rem 0rem;
    visibility: hidden;

    &:hover {
      background-color: var(--red-200);
      cursor: pointer;
      visibility: visible;
    }
  }

  &--row-entry-group {
    user-select: none;
    width: 8rem;
    padding: 0 0.2rem;
    margin-left: 0.2rem;
    text-align: left;
    &:hover {
      background-color: var(--slate-300);
    }
  }

  &--row-entry-group-0 {
    color: black;
  }
  &--row-entry-group-1 {
    color: var(--group-palette-1);
  }
  &--row-entry-group-2 {
    color: var(--group-palette-2);
  }
  &--row-entry-group-3 {
    color: var(--group-palette-3);
  }
  &--row-entry-group-4 {
    color: var(--group-palette-4);
  }
  &--row-entry-group-5 {
    color: var(--group-palette-5);
  }
  &--row-entry-group-6 {
    color: var(--group-palette-6);
  }
  &--row-entry-group-7 {
    color: var(--group-palette-7);
  }
  &--row-entry-group-8 {
    color: var(--group-palette-8);
  }
}
